body {
  margin: 0;
}

.capitalize {
  text-transform: capitalize;
}

.header{
  position: fixed;
  background: #ffffff !important;
  width: 100%;
  padding: 24px 32px 12px 32px !important;
}